.name {
	text-align: center;
}

.contact-info {
	margin: 1em;
}

.contact-label {
	font-weight: bold;
	background: #eee;
	padding: 0.5em;
}

.contact-data {
	background: #ccc;
	padding: 0.5em;
	margin-bottom: 0.5em;
}

.personal-statement {
	margin: 1em;
}

.education {
	margin: 1em;
}

.college {
	background: #eee;
	padding-left: 1em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

.degree {
	background: #ccc;
	padding: 1em;
}

.qualifications {
	margin: 1em;
}

.prof-title {
	background: #eee;
	padding-left: 1em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	margin-top: 1em;
}

.languages {
	background: #ccc;
	padding: 1em;
}

.frameworks {
	background: #ddd;
	padding: 1em;
}

.tools {
	background: #ccc;
	padding: 1em;
}

.processes {
	background: #ddd;
	padding: 1em;
}

.it-skills {
	background: #ccc;
	padding: 1em;
}

.language {
	display: inline-block;
	margin-right: 1em;
}

.framework {
	display: inline-block;
	margin-right: 1em;
}

.tool {
	display: inline-block;
	margin-right: 1em;
}

.process {
	display: inline-block;
	margin-right: 1em;
}

.it-skill {
	display: inline-block;
	margin-right: 1em;
}

.experience {
	margin: 1em;
}

.job {
	margin-bottom: 1em;
}

.job-info {
	background: #eee;
	padding-left: 1em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

.job-details {
	background: #ccc;
	padding: 1em;
}

.job-detail {
	margin-left: 1em;
	margin-top: 1em;
}

.community {
	margin: 1em;
}

.activity {
	margin-bottom: 1em;
}

.activity-info {
	background: #eee;
	padding-left: 1em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

.activity-details {
	background: #ccc;
	padding: 1em;
}

.activity-detail {
	margin-left: 1em;
	margin-top: 1em;
}

.conferences {
	margin: 1em;
}

.conference-info:nth-of-type(odd){
	background: #eee;
	padding-left: 1em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

.conference-info:nth-of-type(even){
	background: #ccc;
	padding-left: 1em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}
